@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

#topbar {
    max-height: 8vh;
    position: relative;
}

#topbar .container{
    max-width: 72rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    clip-path: inset(0px 0px 92vh 0px);
}

#topbar header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

#topbar .sky{
    position: absolute;
    width: 2100px;
    bottom: 250px;
    right: 0;
}

#topbar nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 40;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent);
}

#topbar nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar .brand-name {
    text-decoration: none;
}

#topbar .logo{
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

#topbar .logo span{
    font-weight: 300;
}

#topbar .hamburger-menu{
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    flex-direction: column;
    justify-content: space-around;
}

#topbar .bar{
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#topbar .bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

#topbar .bar:before{
    transform: translateY(-8px);
}

#topbar .bar:after{
    transform: translateY(8px);
}

#topbar .side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 35;
}

#topbar .side-menu.open {
    right: 0;
}

#topbar .side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topbar .side-menu ul li {
    margin: 30px 0;
}

#topbar .side-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 50px;
}

#topbar .side-menu ul li a:hover {
    background-color: #fff;
    color: black;
}