#project-detail .project-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
  
#project-detail .project-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
  
#project-detail .project-img {
    height: 100%;
    object-fit: cover;
}
  
#project-detail .card-body {
    padding: 2rem;
}
  
#project-detail .card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
#project-detail .card-text {
    margin-bottom: 1.5rem;
}
  
#project-detail .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}
  
#project-detail .btn-primary:hover {
    background-color: #0056b3;
}

#project-detail .project-likes .btn-like {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

#project-detail .project-likes .btn-like.liked {
    color: #dc3545;
}

#project-detail .project-likes .btn-like:hover {
    color: #0056b3;
}

#project-detail .project-likes .didILike {
    color: #007bff;
}